*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-color: rgba(85, 85, 85, 1);
    --text-primary:  rgba(255, 255, 255, 1);
    --text-secondary: rgba(85, 85, 85, 1);
    --text-selected: rgba(255, 122, 0, 1);
    --gray: rgba(38, 38, 38, 1);
    --tritary-text: rgba(157, 157, 157, 1);
    --text-off: rgba(255, 46, 0, 1);
    --off-tag: rgba(255, 46, 0, 1);
}
body{
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.container {
    width: 90%;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.align-center {
    align-items: center;
}
.dir-col {
    flex-direction: column;
}
.h-100 {
    height: 100%;
}


.bg-gray {
    background-color: var(--gray);
}


header {
    & .header-wrapper {
            padding-block: 30px;
            & .logo-wrapper {
                & img {}
    
                & span {
                    font-size: 32px;
                    font-weight: bold;
                    text-transform: capitalize;
                }
            }
    
            & .search-wrapper {
                & input {
                    padding: 8px 12px;
                    min-width: 345px;
                }
    
                & img {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    transform: translateY(-50%);
                }
    
                & select {
                    position: absolute;
                    top: 50%;
                    right: 56px;
                    transform: translateY(-50%);
    
                    & option {
                        text-transform: capitalize;
                    }
                }
            }
    
            & .navigation-wrapper {
                & nav {
                    & ul {
                        gap: 12px;
    
                        & li {
                            & a {
                                font-size: 20px;
                                text-transform: capitalize;
                                color: var(--nav-color);
                            }
                        }
                    }
                }
            }
    
            & .socials-wrapper {
                gap: 12px;
            }
        }
    & .header-wrapper {
        & .categories-wrapper {
            gap: 20px;
                & .categories {
                    gap: 4px;
                    & img {
                        width: 24px;
                        height: 24px;
                    }
        
                    & span {
                        font-size: 20px;
                        font-weight: bold;
                        color: var(--text-primary);
                        text-transform: capitalize;
                    }
                }
            }




        & .main-offer {
            & .offer-card {
                gap: 10px;
                & .offer-image-wrapper {
                    & img {

                    }
                }
                & .offer-text-content {
                    & p:first-child {
                        color: var(--text-primary);
                        margin-bottom: 8px;
                    }
                    & p:last-child {
                        color: var(--text-secondary);   
                    }
                }
            }
        }
        & .cta-wrapper {
            & .cta-login {
                gap: 20px;
                & a {
                    color: var(--text-primary);
                    text-transform: capitalize;
                    gap: 4px;
                    & img {
                        width: 24px;
                        height: 24px;
                    }
                    & span {
                        font-size: 20px;
                    }
                    & .counter {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: rgba(61, 196, 126, 1);
                        color: #fff;
                    }
                }
                
            }
        }
    }
    & .ecommerce-categories {
        padding-block: 16px;
        & li {
            position: relative;
            font-size: 20px;
            color: var(--text-secondary);
            text-transform: capitalize;
            cursor: pointer;
            transition-duration: 0.3s;
            &:hover {
                color: var(--text-selected);
                & .submenu {
                    visibility: visible;
                    opacity: 1;
                }
            }
            & .submenu {
                position: absolute;
                top: 26px;
                left: 0;
                width: 600px;
                height: 400px;
                background-color: var(--gray);
                visibility: hidden;
                opacity: 0;
                transition-duration: 0.3s;
                z-index: 2;
            }
        }
    }
}





main {
    & section:not(:first-child) {
        margin-block: 60px;
    }
    & .essentials {
        min-height: 460px;
        & .essentials-left {
            background-image: url(../img/left.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 40%;
        }
        & .essentials-right {
            background-color: rgba(85, 162, 255, 1);
            width: 60%;
            color: var(--text-primary);
            & h1 {
                font-size: 32px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 32px;
            }
            & p {
                margin-bottom: 32px;
                font-size: 28px;
            }
            & button {
                background-color: rgba(65, 114, 220, 1);
                padding-block: 18px;
                padding-inline: 60px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                gap: 8px;
                color: var(--text-primary);
                & img {
                    width: 24px;
                    height: 24px;
                    display: block;
                }
                & span {
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }

        & .essential-off {
            position: absolute;
            left: 40%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            & .essential-header {
                padding: 36px;
                font-size: 20px;
                font-weight: bold;
                background-color: #fff;
                & p {
                    text-transform: capitalize;
                    margin-bottom: 12px;
                }
                & span {
                    color: rgba(255, 46, 0, 1);
                }
            }
            & .essential-footer {
                background-color: var(--gray);
                padding-block: 10px;
                & p {
                    font-size: 14px;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}



.flash-sales {
    & h2 {
        font-size: 20px;
        font-weight: 500;
    }
    & a {
        font-size: 12px;
        color: var(--text-secondary);
    }
    & .products-wrapper {
        margin-top: 3rem;
        gap: 1.5rem;
        flex-wrap: wrap;
        & .product-card {
            padding: 1rem 2rem;
            border-radius: 8px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
            & .countdown-wrapper {
                text-align: center;
                & > span {
                    color: var(--tritary-text);
                    font-weight: 800;
                }
                .hour-label, .min-label, .sec-label {
                    color: var(--tritary-text);

                }
            }
            & .image-wrapper {
                & img {
                    display: block;
                    width: 300px;
                }
            }
            & .content-wrapper {
                & h3 {
                    margin-bottom: 6px;
                }
                & p {
                    margin-bottom: 6px;

                }
                & .rating {
                    margin-bottom: 6px;
                    gap: 8px;
                    & .stars {
                        & img {
                            width: 10px;
                            height: 10px;
                            display: block;
                        }
                    }
                    & .reviews {

                    }
                }
                & .price {
                    gap: 8px;
                    & .current {
                        color: var(--text-off);
                    }
                    & .old {
                        color: var(--text-secondary);
                    }
                    & .discount {
                        color: var(--text-primary);
                        background-color: var(--off-tag);
                        border-radius: 3px;
                        padding: 2px 4px;
                    }
                }
            }
        }
    }
}








.cart{

    & .list {

        & h1 {

        }
        & ul {

            & li {
                    gap: 80px;

                & .left {
                    gap: 80px;
                    & img {
                        height: 70px;
                        display: block;
                    }
                    & .title {

                    }
                    & .price {

                    }
                }
                & .right {
                    gap: 80px;

                    & .quantity {
                        
                    }
                    & .total {

                    }
                    & .remove {

                    }
                }
            }
        }
    }
}